<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankedify</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<<<<<<< HEAD
<div class="aboutUs bg-gray-900	 text-white  text-center p-50 ">
    <h1 class="aboutContainer d-flex justify-items-center">About Us</h1>
    <div class="aboutColumn bg-gray-900	 text-white  text-center p-5 flex-wrap flex justify-center justify-around">
        <div class="aboutPerson">
            <img class="p-5 rounded-full h-50 w-50" src="public\assets\images\mgProfilePic.jpg" alt="">
            <h3>Brandon Maggiano</h3>
=======
<nav>

</nav>
<div class="aboutUs bg-gray-900	 text-white  text-center p-50 ">
    <h1 class="aboutContainer text-[50px] d-flex justify-items-center">About Us</h1>
    <div class="aboutColumn bg-gray-900	 text-white  text-center p-5 flex-wrap flex justify-center justify-around">
        <div class="aboutContent">
            <div class="aboutMotivation">
                <h1 class="aboutName text-[33px]">Motivation</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officiis quos sequi exercitationem necessitatibus commodi, voluptatibus facilis delectus iste inventore, suscipit dicta, illo quisquam temporibus quibusdam aliquam distinctio totam mollitia!</p>
            </div>
        </div>
        <div class="aboutPeople">
        <div class="aboutPerson">
            <img class="p-5 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Brandon Maggiano</h3>
>>>>>>> 1dbf76a3e1202a8637527373c5c74400e57ef54f
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/bmaggiano" target="_blank"
                class="card-Bran underline underline-offset-8 decoration-2">Github Link</a>
        </div>
        <div class="aboutPerson">
<<<<<<< HEAD
            <img class="p-5 rounded-full h-50 w-50" src="public\assets\images\mgProfilePic.jpg" alt="">
            <h3>Derrick Lafforthun</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/Derricklaff" target="_blank"
                class="card-And underline underline-offset-8 decoration-2">Github Link</a>
        </div>
        <div class="aboutPerson">
            <img class="p-5 rounded-full h-50 w-50" src="public\assets\images\mgProfilePic.jpg" alt="">
            <h3>Luis Morales</h3>
=======
            <img class="p-5 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Derrick Lafforthun</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/Derricklaff" target="_blank"
                class="card-And hover:text-base underline underline-offset-8 decoration-2">Github Link</a>
        </div>
        <div class="aboutPerson">
            <img class="p-5 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Luis Morales</h3>
>>>>>>> 1dbf76a3e1202a8637527373c5c74400e57ef54f
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/FunnyLookingFish" target="_blank"
                class="card-Dan underline underline-offset-8 decoration-2">Github Link</a>
        </div>

        <div class="aboutPerson">
<<<<<<< HEAD
            <img class="p-5 rounded-full h-50 w-50 " src="public\assets\images\mgProfilePic.jpg" alt="">
            <h3>Miguel Gallardo</h3>
=======
            <img class="p-5 rounded-full h-50 w-50 " src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Miguel Gallardo</h3>
>>>>>>> 1dbf76a3e1202a8637527373c5c74400e57ef54f
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/magallardo77" target="_blank"
                class="card-Mig underline underline-offset-8 decoration-2">Github Link</a>
        </div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>

</body>
>>>>>>> 1dbf76a3e1202a8637527373c5c74400e57ef54f
