<div class="mainContainer">
<nav class="d-flex p-2" id="homepage-nav">
            <button type="button" id="navBTN-Homepage" class="btn btn-outline-light raise navBTN-Homepage"><a href="/">Home</a></button>
        {{#if loggedIn}}
        <button type="button" id="navBTN-Homepage" class="btn btn-outline-light navBTN-Homepage"><a href="/"
                id="logoutNavBTN">Log
                Out</a></button>
        {{else}}
        <button type="button" id="navBTN-Homepage" class=" btn btn-outline-light navBTN-Homepage"><a href="/login"
                id="loginInNavBTN">Log
                in</a></button>
        {{/if}}
        <button type="button" id="myList" class="btn btn-outline-light raise navBTN-Homepage"><a href="/list/:id">My
            list</a></button>
        <button type="button" id="navBTN-Homepage" class="btn btn-outline-light raise navBTN-Homepage"><a href="/list">Users Picks</a></button>
        <button type="button" id="navBTN-Homepage" class="btn btn-outline-light raise navBTN-Homepage"><a href="/toppicks">Top Picks</a></button>
    </nav>
<div class="aboutUs 	 text-white  text-center p-50 ">
    <h1 class="aboutContainer text-[50px] text-center justify-items-center">About Us</h1>
    <div class="aboutColumn 	 text-white  text-center p-5 flex-wrap flex justify-center ">
        <div class="aboutContent">
            <div class="aboutMotivation">
                <h1 class="aboutName text-[33px]">Motivation</h1>
                <p class="aboutMotiv">This webpage is designed for users to post a list of their top 5 games, see others top 5 list, as well as, interact with other's posts. Our motivation to create this project was to allow users to post their personal favorite games and compare their list with other users. Through the completion of this project, we furthered our understanding in working with group projects through Github.</p>
            </div>
        </div>
        <div class="aboutPeople">
            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50 mx-auto" src="./assets/images/kratosProfilePic.jpg" alt="">
                <h3 class="aboutName text-[20px]">Brandon Maggiano</h3>
                {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p> --}}
                <a href="https://github.com/bmaggiano" target="_blank"
                    class="card-Bran underline underline-offset-8 decoration-2">Github Link</a>
            </div>
            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50 mx-auto" src="./assets/images/DerrickNEW.jpg" alt="">
                <h3 class="aboutName text-[20px]">Derrick Lafforthun</h3>
                {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p> --}}
                <a href="https://github.com/Derricklaff" target="_blank"
                    class="card-Der hover:text-base underline underline-offset-8 decoration-2">Github Link</a>
            </div>
            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50 mx-auto" src="./assets/images/subzeroNEW.jpg" alt="">
                <h3 class="aboutName text-[20px]">Luis Morales</h3>
                {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p> --}}
                <a href="https://github.com/FunnyLookingFish" target="_blank"
                    class="card-Lu underline underline-offset-8 decoration-2">Github Link</a>
            </div>

            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50 mx-auto" src="./assets/images/witcherNEW.jpg" alt="">
                <h3 class="aboutName text-[20px]">Miguel Gallardo</h3>
                {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p> --}}
                <a href="https://github.com/magallardo77" target="_blank"
                    class="card-Mig underline underline-offset-8 decoration-2">Github Link</a>
            </div>
        </div>
    </div>

    {{#if loggedIn}}
    <script src="/js/mylist.js"></script>
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/login.js"></script>

    </body>