<div class="mainContainer">
<nav class="  text-white  p-50 d-flex p-2" id="homepage-nav">
        {{#if loggedIn}}
        <button type="button" id="navBTN-Homepage" class="btn btn-outline-light raise navBTN-Homepage">Log out</button>
        {{else}}
        <button type="button" id="navBTN-Homepage" class=" btn btn-outline-light raise navBTN-Homepage"><a href="/login"
                id="loginInNavBTN">Log
                in</a></button>
        {{/if}}
        <a type="button" id="navBTN-Homepage" class="btn btn-outline-light raise navBTN-Homepage" href="/list/:id">My list</a>
    </nav>
<div class="aboutUs 	 text-white  text-center p-50 ">
    <h1 class="aboutContainer text-[50px] text-center justify-items-center">About Us</h1>
    <div class="aboutColumn 	 text-white  text-center p-5 flex-wrap flex justify-center ">
        <div class="aboutContent">
            <div class="aboutMotivation">
                <h1 class="aboutName text-[33px]">Motivation</h1>
<<<<<<< HEAD
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officiis quos sequi exercitationem
                    necessitatibus commodi, voluptatibus facilis delectus iste inventore, suscipit dicta, illo quisquam
                    temporibus quibusdam aliquam distinctio totam mollitia!</p>
            </div>
        </div>
        <div class="aboutPeople">
            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
                <h3 class="aboutName text-[20px]">Brandon Maggiano</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
                <a href="https://github.com/bmaggiano" target="_blank"
                    class="card-Bran underline underline-offset-8 decoration-2">Github Link</a>
            </div>
            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
                <h3 class="aboutName text-[20px]">Derrick Lafforthun</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
                <a href="https://github.com/Derricklaff" target="_blank"
                    class="card-And hover:text-base underline underline-offset-8 decoration-2">Github Link</a>
            </div>
            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
                <h3 class="aboutName text-[20px]">Luis Morales</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
                <a href="https://github.com/FunnyLookingFish" target="_blank"
                    class="card-Dan underline underline-offset-8 decoration-2">Github Link</a>
            </div>

            <div class="aboutPerson">
                <img class="p-5 rounded-full h-50 w-50 " src="./assets/images/witcherProfilePic.jpg" alt="">
                <h3 class="aboutName text-[20px]">Miguel Gallardo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
                <a href="https://github.com/magallardo77" target="_blank"
                    class="card-Mig underline underline-offset-8 decoration-2">Github Link</a>
            </div>
        </div>
    </div>

    </body>
=======
                    <p>This webpage is designed for users to post a list of their top 5 games, see others top 5 list, as well as, interact with other's posts. Our motivation to create this project was to allow users to post their personal favorite games and compare their list with other users. Through the completion of this project, we furthered our understanding in working with group projects through Github.</p>
            </div>
        </div>
        <div class="aboutPeople">
        <div class="aboutPerson">
            <img class="aboutProfilePic pl-100 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Brandon Maggiano</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/bmaggiano" target="_blank"
                class="card-Bran underline underline-offset-8 decoration-2">Github Link</a>
        </div>
        <div class="aboutPerson">
            <img class="aboutProfilePic pl-100 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Derrick Lafforthun</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/Derricklaff" target="_blank"
                class="card-And hover:text-base underline underline-offset-8 decoration-2">Github Link</a>
        </div>
        <div class="aboutPerson">
            <img class="aboutProfilePic pl-100 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Luis Morales</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/FunnyLookingFish" target="_blank"
                class="card-Dan underline underline-offset-8 decoration-2">Github Link</a>
        </div>

        <div class="aboutPerson">
            <img class="aboutProfilePic pl-100 rounded-full h-50 w-50" src="./assets/images/witcherProfilePic.jpg" alt="">
            <h3 class="aboutName text-[20px]">Miguel Gallardo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in eveniet blanditiis numquam</p>
            <a href="https://github.com/magallardo77" target="_blank"
                class="card-Mig underline underline-offset-8 decoration-2">Github Link</a>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</div>
</div>
</div>

>>>>>>> a98184357ed304e0846464f3779dd934670384b9
