<body>
    <div class="aboutUs">
        <div class="aboutContainer">
            <div class="aboutColumn">
                <div class="aboutTeam">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quo sunt assumenda suscipit amet inventore consequuntur ducimus eos iure minima repudiandae accusantium, exercitationem magnam laudantium modi eius voluptates fugit? In</p>
                </div>
            </div>
            <div class="aboutPerson">
                <div class="teamImg">
                    <img src="" alt="">
                </div>
                <div class="aboutInfo">
                    <h2>Brandon Maggiano</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quia nam fugit incidunt dolorum, aliquid deserunt nobis impedit nulla facilis sint, dolore quibusdam! Impedit tempore voluptate nihil nemo maxime exercitationem.</p>
                </div>
            </div>
            <div class="aboutPerson">
                <div class="teamImg">
                    <img src="" alt="">
                </div>
                <div class="aboutInfo">
                    <h2>Derrick Lafforthun</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quia nam fugit incidunt dolorum, aliquid deserunt nobis impedit nulla facilis sint, dolore quibusdam! Impedit tempore voluptate nihil nemo maxime exercitationem.</p>
                </div>
            </div>
            <div class="aboutPerson">
                <div class="teamImg">
                    <img src="" alt="">
                </div>
                <div class="aboutInfo">
                    <h2>Miguel Gallardo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quia nam fugit incidunt dolorum, aliquid deserunt nobis impedit nulla facilis sint, dolore quibusdam! Impedit tempore voluptate nihil nemo maxime exercitationem.</p>
                </div>
            </div>
            <div class="aboutPerson">
                <div class="teamImg">
                    <img src="" alt="">
                </div>
                <div class="aboutInfo">
                    <h2>Luis Morales</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quia nam fugit incidunt dolorum, aliquid deserunt nobis impedit nulla facilis sint, dolore quibusdam! Impedit tempore voluptate nihil nemo maxime exercitationem.</p>
                </div>
            </div>
        </div>
    </div>


</body>