<body id="loginBody">
    <section id='loginArea' class="container-fluid d-flex">
        <div>
            <h2 id="loginText">Log in</h2>
            <form>
                <div>
                    <label id="loginLabel" for="email-login">Email:</label>
                    <input type="text" id="email-login" />
                </div>
                <div>
                    <label id="loginLabel" for="password-login">Password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit">login</button>
                </div>
            </form>
        </div>
        <div>
    </section>

    <script src="../public/js/login.js"></script>
</body>