<body id="">
    <section class="profile">
        <div class="profile-picture"></div>
        <div class="userame-title">
            <h2>{{username}}</h2>
            <h1>boinker</h1>
        </div>
        <form>
            <input type="text" name="rank1"><br>
            <input type="text" name="rank2"><br>
            <input type="text" name="rank3"><br>
            <input type="text" name="rank4"><br>
            <input type="text" name="rank5"><br>
        </form>
    </section>

    <script src=""></script>
</body>