<div id="signupBody">
    <nav class="d-flex p-2" id="loginNavBar">
        <a type="button" id="signupPageNavBTN" class=" btn btn-outline-light" href="/" id="HomeBTN">Home</a>
        <a type="button" id="signupPageNavBTN" class="btn btn-outline-light">About us</a>
        <button type="button" id="nav-btn-aboutus" class="btn btn-outline-light raise navBTN-Homepage"><a href="/toppicks">Top Picks</a></button>
    </nav>
    <h1 id="titleHeaderTextSignup" class="d-flex">Rankedify</h1>

    <p id="signupText">Sign Up Below</p>
    <div id='loginArea' class=>
        <div id="logInForm" class="col-12">
            <form class="login-form">
                <div style="padding-top:20px;">
                    <p style="text-align: center; color:white; font-size: 24px;      padding-bottom: 25px;"><span
                            id="email-signup-text">
                            Email</span></p>
                    <input type="email" id="email-signup" class="form-control" placeholder="Enter New Email" />
                </div>
                <div style="padding-top:20px;">
                    <p style="text-align: center; color:white; font-size: 24px;     padding-bottom: 25px;"><span
                            id="email-signup-text">
                            Username</span></p>
                    <input type="text" id="username-signup" class="form-control" placeholder="Enter New Username" />
                </div>
                <div style="padding-top:20px;">
                    <p style="text-align: center; color:white; font-size: 24px;      padding-bottom: 25px;"><span
                            id="email-signup-text">
                            Password</span></p>
                    <input type="password" id="password-signup" class="form-control" placeholder="Enter New Password" />
                </div>
                <div>
                    <button type="submit" type="button" class="btn btn-outline-light" id="signInBTN">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/signUp.js"></script>
</div>