<body>
    <div class="input-container">
        <div class="card-header">
            <h2>Sign up and Rank today!</h2>
        </div>
        <div class="input-field">
            <form>
                <label for="email">E-Mail</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password</label><br>
                <input type="text" id="password" name="password"><br>
            </form>
        </div>
        <div class="submit-button">
            <button class="button-64" role="button"><span class="text">
                    Let's Get Ranking!
                </span></button>
        </div>
    </div>

</body>