<div id="userInpBody">
    <nav class="d-flex p-2" id="userInpNavBar">
        <a type="button" id="userInpNavBTN" class=" btn btn-outline-light" href="/" id="HomeBTN">Home</a>
        <a type="button" id="userInpNavBTN" class="btn btn-outline-light">About us</a>
    </nav>
    <h1 id="titleHeaderTextUserInp" class="d-flex">Rankedify</h1>
    <p id="userInpTextDescription1">Create your list below and share it with the world</p>
    <p></p>
    <div>
        <input id="input-one" placeholder="Type Game Name Here" type="text">
        <input id="input-two" placeholder="Type Game Name Here" type="text">
        <input id="input-three" placeholder="Type Game Name Here" type="text">
        <input id="input-four" placeholder="Type Game Name Here" type="text">
        <input id="input-five" placeholder="Type Game Name Here" type="text">
    </div>
    <div>
        <button type="submit" type="button" class="submit-btn btn-outline-light" id="submitBtn">Submit</button>
    </div>
<script src="./js/autocomplete.js"></script>


</div>