<body>
    <section class="profile">
        <div class="profile-picture"></div>
        <div class="userame-title">
            <h2><!--user's username here--></h2>
        </div>
    </section>

    <script src="./js/login.js"></script>
</body>