<body>
    <section class="profile">
        <div class="profile-picture"></div>
        <div class="userame-title">
            <h2></h2>
        </div>
        {{#each list.games.[].game_name}}
        {{/each}}

    </section>

    <script src="/js/login.js"></script>
</body>