<nav class="d-flex p-2" id="loginPageNavBTN">
    <button type="button" id="loginPageNavBTN" class=" btn btn-outline-dark"><a href="/"
            id="loginPageNavBTN">Home</a></button>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark">My list</a>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark">About us</a>
</nav>
<h1 id="titleHeaderTextLogin" class="d-flex">Rankedify
    <h2 id="loginText">Create your list</h2>
</h1>