<body>
    <section class="profile">
        <div class="profile-picture"></div>
        <div class="userame-title">
            <h2></h2>
        </div>
        <div class="user-list">
            <ol id="user-top5">
                <li id="rank1">{{list.games.[0].game_name}}</li>
                <li id="rank2"><!----></li>
                <li id="rank3"><!----></li>
                <li id="rank4"><!----></li>
                <li id="rank5"><!----></li>
            </ol>
        </div>
    </section>

    <script src="/js/login.js"></script>
</body>