#titleHeader {
    justify-content: center;
    text-align: center;

}


/* -----------------------------homepage-------------------------------------- */
#homepageBody {
    background-image: url(../assets/images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg);
    height: 1297px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleHeaderText {
    padding-top: 30px;
    color: white;
    font-size: 56px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    justify-content: center;
}

#intro {
    opacity: 0;
    padding-top: 120px;
    color: white;
    font-size: 30px;
    animation: fadeInAnimation 2s ease 1s 1 forwards;

}

#intro2 {
    opacity: 0;
    padding-top: 200px;
    color: white;
    font-size: 30px;
    animation: fadeInAnimation 2s ease 2s 1 forwards;

}

#intro3 {
    opacity: 0;
    padding-top: 200px;
    color: white;
    font-size: 30px;
    animation: fadeInAnimation 2s ease 3s 1 forwards;

}

#spanLogIn {
    color: red;
    text-decoration: none;
}

#loginInNavBTN {
    text-decoration: none;
    color: black;
}

#navBTN-homepage:hover {

    color: black;
}

#homepage-nav {
    justify-content: flex-end;
}

#navBTN-Homepage {
    margin: 10px 10px;
    color: white;
    font-size: 22px;
}

/* -----------------------------homepage-------------------------------------- */


/*------------------------------Login Page------------------------------------ */
#loginBody {
    background-image: url(../assets/images/R.jpg);
    /* background-image: url(../assets/images/Sekiro3.png); */
    height: 1297px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleHeaderTextLogin {
    padding-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 56px;
    justify-content: center;
    padding-bottom: 90px;
}

#loginPageNavBTN {
    justify-content: flex-end;
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;

}

#logInBTN {

    margin-top: 5px;
    margin-left: 47%;
}

#loginText {
    text-align: center;
    color: rgb(23, 22, 22);
    font-size: 60px;
    padding-right: 25px;
}

#signupSpan {
    color: red;
    text-decoration: none;
}

#logingDescription1 {
    text-align: center;
    color: rgb(23, 22, 22);
    font-size: 45px;
    padding-right: 25px;
    padding-top: 30px;
}

#logingDescription2 {
    text-align: center;
    color: rgb(23, 22, 22);
    font-size: 45px;
    padding-right: 25px;
}

#logInForm {
    padding-top: 10%;
    padding-right: 50px;
}

#userName-login {
    color: black;
    text-align: center;
    margin-left: 40%;
    width: 19%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .5);
}

input::-webkit-input-placeholder {
    color: rgb(255, 255, 255) !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(255, 255, 255) !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(255, 255, 255) !important;
}

input:-ms-input-placeholder {
    color: rgb(255, 255, 255) !important;
}


#password-login {
    text-align: center;
    margin-left: 40%;
    width: 19%;
    background-color: rgba(0, 0, 0, .5);
}

#HERE-BTN {
    text-decoration: none;
    color: red;
}

/*------------------------------Login Page------------------------------------ */


/*-----------------------------Signup Page------------------------------------ */
#signupBody {
    background-image: url(../assets/images/Elden\ Ring.png);
    height: 1297px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleHeaderTextSignup {
    padding-top: 30px;
    color: rgb(252, 252, 252);
    font-size: 56px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    justify-content: center;
}

#signupPageNavBTN {
    justify-content: flex-end;
    margin: 10px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;

}

#signupForm {
    padding-top: 20%;
    padding-right: 50px;

}

#email-signup {
    opacity: 0;
    margin-left: 40%;
    width: 19%;
    animation: fadeInAnimation 2s ease 1s 1 forwards;
}

#username-signup {
    opacity: 0;
    margin-left: 40%;
    width: 19%;
    animation: fadeInAnimation 2s ease 2s 1 forwards;
}

#password-signup {
    opacity: 0;
    margin-left: 40%;
    width: 19%;
    animation: fadeInAnimation 2s ease 2s 1 forwards;
}

#signupText {
    opacity: 0;
    text-align: center;
    color: rgb(239, 235, 235);
    font-size: 60px;
    padding-right: 25px;
    animation: fadeInAnimation 2s ease 1s 1 forwards;
}

#label {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-right: 25px;
    margin-left: 40%;
    animation: fadeInAnimation 2s ease 1s 1 forwards;
}

/*-----------------------------Signup Page------------------------------------ */

/*-------------------------- User Input Page---------------------------------- */

/*-------------------------- User Input Page---------------------------------- */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

#btn64-submit {
    margin-top: 10;
}

.button-64 {
    margin-left: 40%;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}