#titleHeader {
    justify-content: center;
    text-align: center;

}


/* -----------------------------homepage-------------------------------------- */
#homepageBody {
    background-image: url(../assets/images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#titleHeader {
    justify-content: center;
    text-align: center;

}

#titleHeaderText {
    padding-top: 30px;
    color: white;
    font-size: 56px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    justify-content: center;
}

#intro {
    opacity: 0;
    padding-top: 120px;
    color: white;
    font-size: 30px;
    animation: fadeInAnimation 2s ease 1s 1 forwards;

}

#intro2 {
    opacity: 0;
    padding-top: 200px;
    color: white;
    font-size: 30px;
    animation: fadeInAnimation 2s ease 2s 1 forwards;

}

#intro3 {
    opacity: 0;
    padding-top: 200px;
    color: white;
    font-size: 30px;
    animation: fadeInAnimation 2s ease 3s 1 forwards;

}

#spanLogIn {
    color: red;
    text-decoration: none;
}

#loginInNavBTN {
    text-decoration: none;
    color: white;
}

#loginInNavBTN:hover {
    color: black;

}

#homepage-nav {
    justify-content: flex-end;
}

.navBTN-Homepage {
    margin: 10px 10px;
    color: white;
    font-size: 22px;
}

.navBTN-Homepage:hover {
    color: black;

}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: #ffffff
}


/* -----------------------------homepage-------------------------------------- */


/*------------------------------Login Page------------------------------------ */
#loginBody {
    background-image: url(../assets/images/R.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleHeaderTextLogin {
    padding-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 56px;
    justify-content: center;
    padding-bottom: 90px;
}

#loginPageNavBTN {
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;

}

#HomeBTN {
    justify-content: flex-end;
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;

}

#logInBTN {

    margin-top: 5px;
    margin-left: 47.8%;
    font-size: 22px;
}

#loginNavBar {
    justify-content: flex-end;
}

#loginPageNavBTN:hover,
#loginPageNavBTN:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: white;
}

#HomeBTN:hover,
#HomeBTN:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: white;
}

#loginText {
    text-align: center;
    color: rgb(23, 22, 22);
    font-size: 60px;
    padding-right: 25px;
}

#signupSpan {
    color: red;
    text-decoration: none;
}

#loginDescription1 {
    text-align: center;
    color: rgb(23, 22, 22);
    font-size: 45px;
    padding-right: 25px;
    padding-top: 30px;
}

#loginDescription2 {
    text-align: center;
    color: rgb(23, 22, 22);
    font-size: 45px;
    padding-right: 25px;
}

#logInForm {
    padding-top: 10%;
    padding-right: 50px;
}

#userName-login {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 40%;
    width: 19%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .5);
}

#password-login {
    color: white;
    text-align: center;
    margin-left: 40%;
    width: 19%;
    background-color: rgba(0, 0, 0, .5);
}

#HERE-BTN {
    text-decoration: none;
    color: red;
}

#userName-login::placeholder {
    text-align: center;
    color: white;
}

#password-login::placeholder {
    color: white;
    text-align: center;
}

/*------------------------------Login Page------------------------------------ */


/*-----------------------------Signup Page------------------------------------ */
#signupBody {
    background-image: url(../assets/images/Elden\ Ring.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleHeaderTextSignup {
    padding-top: 30px;
    color: rgb(252, 252, 252);
    font-size: 56px;
    justify-content: center;
}

#signupPageNavBTN {
    justify-content: flex-end;
    margin: 10px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;

}

#signupForm {
    padding-top: 20%;
    padding-right: 50px;
}


#email-signup-text {
    background-color: rgba(0, 0, 0, .8);
    border: thin solid white;
    padding: 10px;
}

#email-signup {
    margin-left: 40%;
    width: 19%;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
}

#username-signup {
    margin-left: 40%;
    width: 19%;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
}

#password-signup {
    margin-left: 40%;
    width: 19%;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
}

#signupText {
    text-align: center;
    color: rgb(239, 235, 235);
    font-size: 60px;
    padding-right: 25px;
}

#label {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-right: 25px;
    margin-left: 40%;
}

#signInBTN {
    margin-top: 75px;
    margin-left: 47.8%;
    font-size: 22px;
}

#signupPageNavBTN:hover,
#signupPageNavBTN:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: rgb(0, 0, 0);
}

#signInBTN:hover,
#signInBTN:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: rgb(0, 0, 0);
}

#email-signup::placeholder {
    text-align: center;
    color: #ffffff;
}

#username-signup::placeholder {
    text-align: center;
    color: #ffffff;
}

#password-signup::placeholder {
    text-align: center;
    color: #ffffff;
}

/*-----------------------------Signup Page------------------------------------ */

/*-------------------------- User Input Page---------------------------------- */
#userInpBody {
    background-image: url(../assets/images/3026429.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#input-one {
    margin: 5%;
    margin-left: 24.5%;
    display: block;
    margin-bottom: 20px;

}


#input-two {
    margin: 5%;
    margin-left: 24.5%;
    display: block;
    margin-bottom: 20px;

}

#input-three {
    margin: 5%;
    margin-left: 24.5%;
    display: block;
    margin-bottom: 20px;

}

#input-four {
    margin: 5%;
    margin-left: 24.5%;
    display: block;
    margin-bottom: 20px;

}

#input-five {
    margin: 5%;
    margin-left: 24.5%;
    display: block;
    margin-bottom: 20px;

}


#titleHeaderTextUserInp {
    padding-top: 30px;
    text-shadow: 2px 2px rgb(108, 108, 108);
    color: #ffffff;
    font-size: 56px;
    justify-content: center;
}

#userInpNavBTN {
    justify-content: flex-end;
    margin: 10px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

#userInpNavBar {
    justify-content: flex-end;
}

#userInpTextDescription1 {
    text-shadow: 2px 2px rgb(108, 108, 108);
    padding-top: 5%;
    text-align: center;
    color: white;
    font-size: 45px;
}

#input-list {
    margin-top: 4%;
    max-width: 14%;
    padding-top: 2%;
    margin-left: 43.6%;
    border: solid thin rgb(255, 255, 255);
    padding-bottom: 2%;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .5);
}

#userInpSubmitBtn {
    text-align: center;
    margin-left: 32%;
    margin-top: 10%;
}

.input::placeholder {
    color: black;
    text-align: center;
}

#userInpNavBTN:hover,
#userInpNavBTN:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: rgb(0, 0, 0);
}


/*-------------------------- User Input Page---------------------------------- */

/*------------------------------------ User Profile ----------------------------------------*/

#titleHeaderTextLogin {
    color: #ffffff;
}

.container {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 10em;
}

#span {
    box-shadow: -11px 9px 1px #3cb68f;
    background-color: black;
    border-radius: 16px;
}

/*------------------------------------ User Profile ----------------------------------------*/

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

/*-------------------------- About Us Page---------------------------------- */
.mainContainer {
    background-image: url(/assets/images/bluebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutContent {
    padding: 20px;
}

.aboutProfilePic {
    justify-content: center;
    padding-left: 10px;
}

/*-------------------------- Master List---------------------------------- */

.mainListContainer {
    background-image: url(/assets/images//assets/images/centeredsquare1.webp);
    background-position: center;
    height: 100%;
}

.listContainer {
    background-image: url(/assets/images/masterlistbg.jpg);
    border-radius: 2%;
    background-position: center;
}

.listItems li{
    color: white;
}

.liHeader {
    padding: 20px;
    color: white;
}


/*--------------------------Users Picks----------------------------------- */
#allListBody {
    background-image: url(../assets/images/get_image_large.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#allListNavBTN {
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;

}

#titleHeaderTextAllList {
    padding-top: 30px;
    color: white;
    font-size: 56px;
    justify-content: center;
    padding-bottom: 90px;
}

#allListNavBar {
    justify-content: flex-end;
}

#allListDescription {
    text-shadow: 2px 2px rgb(108, 108, 108);
    padding-top: 5%;
    text-align: center;
    color: white;
    font-size: 45px;
}

#allListUlBody {
    color: white;
    font-size: 20px;
    min-width: 10%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    margin-top: 4%;
    max-width: 14%;
    margin-left: 43.6%;
    border: solid thin rgb(255, 255, 255);
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .5);
}


#scrollList {
    overflow-y: scroll;
    max-height: 60vh;
    /* scrollbar-width: thin; */
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

/*--------------------------Users Picks----------------------------------- */